# Importing packages

In this exercise, we will use the software library **pandas** for data manipulation and analysis

In [1]:
import pandas

# Reading files

First, we define the file names of the CRM data
* **cons_filename** contains the Consituent Information
* **email_filename** contains the Constituent Email Addresses
* **subs_filename** contains the Constituent Subscription Status

In [2]:
cons_filename = 'https://als-hiring.s3.amazonaws.com/fake_data/2020-07-01_17%3A11%3A00/cons.csv'
email_filename = 'https://als-hiring.s3.amazonaws.com/fake_data/2020-07-01_17%3A11%3A00/cons_email.csv'
subs_filename = 'https://als-hiring.s3.amazonaws.com/fake_data/2020-07-01_17%3A11%3A00/cons_email_chapter_subscription.csv'

Then, we read each of those files using *read_csv* pandas function and show the first rows of each dataframe

In [3]:
cons_df = pandas.read_csv(cons_filename, sep = ',', header = 0)
print("The Constituent Information dataframe contains %d rows and %d columns" %cons_df.shape)
cons_df.head()

The Constituent Information dataframe contains 700000 rows and 29 columns

,cons_id,prefix,firstname,middlename,lastname,suffix,salutation,gender,birth_dt,title,...,change_password_next_login,consent_type_id,create_dt,create_app,create_user,modified_dt,modified_app,modified_user,status,note
0,1,NaN,NaN,Lee,NaN,MD,NaN,E,NaN,vSkSIzEQJdXnqeTTTXSG,...,0,5958,"Fri, 1983-08-26 06:02:03",1484,6162,"Sun, 2015-12-27 09:28:02",4022,6349,1,NaN
1,2,NaN,NaN,NaN,NaN,II,boFqBKgLlSgEZsFrgCZd,E,"Mon, 2004-11-15",NaN,...,1,4236,"Mon, 1979-03-05 21:08:54",4176,5476,"Tue, 1989-06-20 13:28:57",9010,5698,1,NaN
2,3,NaN,NaN,David,King,NaN,NaN,D,"Fri, 1994-04-08",bxGxufoNzpKvjwNIxgRj,...,1,1263,"Fri, 2008-08-22 19:20:28",4702,8239,"Fri, 2020-06-05 18:13:57",8837,1175,1,NaN
3,4,Ms.,Mark,Gregg,NaN,NaN,NaN,J,NaN,NaN,...,0,949,"Sun, 1984-04-29 11:18:18",7096,7875,"Tue, 2012-01-31 07:26:35",7529,3984,1,NaN
4,5,NaN,NaN,Logan,NaN,DDS,ArvPJuEozHPaqbirovMi,D,"Sun, 2008-08-10",kXKlKCyCBoXUBVejPOVO,...,0,7126,"Thu, 2007-07-19 18:28:09",706,5727,"Tue, 1971-04-27 06:53:53",9356,6062,1,NaN

In [4]:
email_df = pandas.read_csv(email_filename, sep = ',', header = 0)
print("The Constituent Email Addresses dataframe contains %d rows and %d columns" %email_df.shape)
email_df.head()

The Constituent Email Addresses dataframe contains 1400000 rows and 16 columns

,cons_email_id,cons_id,cons_email_type_id,is_primary,email,canonical_local_part,domain,double_validation,create_dt,create_app,create_user,modified_dt,modified_app,modified_user,status,note
0,1,548198,3361,1,xmartinez@vincent.com,NaN,gmail.com,NaN,"Wed, 1994-01-26 23:49:16",4072,9954,"Sat, 2014-04-19 19:10:39",1990,7595,1,NaN
1,2,491137,2474,1,hmiller@haynes.biz,jqCyozTDojYuylQPTHfm,hotmail.com,NaN,"Thu, 1999-12-09 06:18:27",1600,5716,"Sat, 1984-07-14 05:55:27",4686,3248,1,NaN
2,3,413429,5175,1,aaron64@yahoo.com,FCBeBiVoqnnKDWjnllhN,yahoo.com,kRLZexQEwYIMbwFNvQxg,"Wed, 1992-11-18 16:46:27",7358,2685,"Sun, 1995-12-24 13:13:01",3857,7405,1,NaN
3,4,347346,4117,1,wyattvincent@hotmail.com,NaN,gmail.com,zSbfmlqXimGyWVBUGdQg,"Sat, 1983-11-26 16:49:14",881,3444,"Sun, 1975-01-19 14:32:56",8713,7713,1,NaN
4,5,443000,6781,1,tspencer@hotmail.com,VaQIYlKcUkIywkKKEptD,gmail.com,NaN,"Wed, 2000-11-15 13:28:34",5380,5456,"Sun, 1994-03-13 16:38:37",765,8618,1,NaN

In [5]:
subs_df = pandas.read_csv(subs_filename, sep = ',', header = 0)
print("The Constituent Subscription Status dataframe contains %d rows and %d columns" %subs_df.shape)
subs_df.head()

The Constituent Subscription Status dataframe contains 350000 rows and 6 columns

,cons_email_chapter_subscription_id,cons_email_id,chapter_id,isunsub,unsub_dt,modified_dt
0,1,332188,1,1,"Sat, 1971-06-12 15:38:44","Thu, 1990-06-28 10:54:20"
1,2,536526,1,1,"Wed, 2006-07-12 01:50:45","Thu, 1979-09-20 06:02:35"
2,3,134711,1,1,"Tue, 1987-01-06 13:05:15","Sun, 1974-03-03 15:11:50"
3,4,660345,1,1,"Sat, 2016-08-06 11:06:09","Wed, 1995-09-13 23:45:03"
4,5,184268,1,1,"Sun, 2000-05-28 02:20:45","Sat, 1983-12-10 08:09:58"

# Exercise 1

First, we do some data manipulation for each of the 3 files. This manipulation adds 'sub_' prefix to each of the variable names to indicate a subset of data

For the **Consituent Information** dataframe, we keep the following relevant columns:
* **cons_id** is the unique identifier of the constituent
* **source** is the source code of the data
* **create_dt** is the person creation datetime
* **modified_dt** is the person updated datetime

In [6]:
sub_cons_df = cons_df[['cons_id', 'source', 'create_dt', 'modified_dt']]

For the **Consituent Email Addresses** dataframe, we first keep the primary email addresses and then we select the following relevant columns:
* **cons_email_id** is the unique identifier of the constituent's email
* **cons_id** is the unique identifier of the constituent
* **email** is the constituent's email address

In [7]:
sub_email_df = email_df[email_df.is_primary == 1].reset_index(drop=True)
sub_email_df = sub_email_df[['cons_email_id', 'cons_id', 'email']]

For the **Consituent Subscription Status** dataframe, we are interested in subcriptions with chapter_id = 1 and we select the following relevant columns:
* **cons_email_id** is the unique identifier of the constituent's email
* **cons_email_chapter_subscription_id** is the unique identifier of the constituent's email subscription
* **isunsub** is the constituent's email address unsubscribed

In [8]:
subs_df = subs_df[subs_df.chapter_id == 1].reset_index(drop=True)
sub_subs_df = subs_df[['cons_email_id','cons_email_chapter_subscription_id','isunsub']]

1. First, we merge constituent information and constituent email addresses using **cons_id**. Since only 605639 constituents have a primary email address, we use an inner join and we ignore the rest. PS: A left join would have produced 700000 rows!

In [9]:
cons_email_df = pandas.merge(sub_cons_df, sub_email_df, how='inner', on='cons_id')
print(cons_email_df.shape)

(605639, 6)

2. Second, we merge the intermediary dataframe and constituent subscription dataframe using **cons_email_id**. Since the constituent subscription status have a unique **cons_email_id** when chapter_id = 1, we keep the same number of rows as the intermediary dataset

In [10]:
cons_email_subs_df = pandas.merge(cons_email_df, sub_subs_df, how='left', on='cons_email_id')
print(cons_email_subs_df.shape)

(605639, 8)

In the output file, we select only the columns of interest and we rename them following the deliverable's convention

In [11]:
people_columns = {"email":"email"
                  , "source":"code"
                  , "isunsub":"is_unsub"
                  , "create_dt":"created_dt"
                  , "modified_dt":"updated_dt"}
people_df = cons_email_subs_df[people_columns.keys()]
people_df = people_df.rename(columns = people_columns)

If an email is not present in this table, it is assumed to still be subscribed. That said, the missing primary emails are subscribed and is_unsub = 0.

In [12]:
people_df.fillna(value={'is_unsub':0.0}, inplace = True)

We convert the created_dt and updated_dt columns from string to datetime.

In [13]:
people_df['is_unsub'] = people_df['is_unsub'].astype(int)
people_df['created_dt'] = pandas.to_datetime(people_df['created_dt'], format='%a, %Y-%m-%d %H:%M:%S')
people_df['updated_dt'] = pandas.to_datetime(people_df['updated_dt'], format='%a, %Y-%m-%d %H:%M:%S')

We display row examples from the people dataframe

In [14]:
people_df.head()

,email,code,is_unsub,created_dt,updated_dt
0,daniel72@hudson.com,google,0,1983-08-26 06:02:03,2015-12-27 09:28:02
1,caustin@spears-carson.com,facebook,1,1979-03-05 21:08:54,1989-06-20 13:28:57
2,klewis@ford.biz,NaN,1,2008-08-22 19:20:28,2020-06-05 18:13:57
3,stephenhamilton@gmail.com,NaN,1,2007-07-19 18:28:09,1971-04-27 06:53:53
4,henryherring@gmail.com,google,0,2014-02-15 22:54:27,1999-11-12 06:09:25

Finally, we save the people dataframe to a csv file

In [15]:
people_df.to_csv('people.csv', index=False)

# Exercise 2

If we assume that the customer was acquired the day of the profile creation date and the acquisition correpond to the subscription, we extract both the aquicision date and (acquisitions = 1-is_unsub) assuming that is_unsub is a binary variable

In [16]:
people_df['acquisition_date'] = people_df['created_dt'].dt.date
people_df['acquisitions'] = 1 - people_df['is_unsub']

Then, we group by acquisition date and sum over acquisitions

In [17]:
acquisition_df = people_df.groupby(['acquisition_date']).agg({'acquisitions':sum})

Later, we display the top 10 acquisition dates by acquisitions

In [18]:
acquisition_df.sort_values("acquisitions", ascending = False).head(10)

                  acquisitions
acquisition_date
1989-05-03                  46
2014-01-18                  45
2011-11-07                  44
1982-09-06                  43
1982-01-16                  43
2014-09-06                  43
1978-04-18                  42
2007-08-23                  42
2012-09-12                  42
1991-07-11                  42

Finally, we save the aquicisition_fact dataframe to a csv file

In [19]:
acquisition_df.to_csv('acquisition_facts.csv', index=False)

# Optional: Data Inconsistency

We have found many data insconsistencies across the files and we want to point out few of them in the following:

* First we realize that there are around 50% of cases where person creation datetime is later than the person's updated datetime

In [20]:
print(cons_df[cons_df.modified_dt < cons_df.create_dt].head(5))

    cons_id prefix  firstname middlename  lastname suffix  \
5         6    NaN        NaN        NaN      Holt    NaN
7         8    NaN    Charles     Teresa    Glover    PhD
8         9    NaN      Holly      David       NaN    NaN
9        10    NaN       Chad        NaN       NaN    DVM
10       11    NaN  Gabriella      Steve  Caldwell     MD

              salutation gender         birth_dt                 title  ...  \
5                    NaN      K  Tue, 2003-07-15  DBEfLmqhahjEXOXjLHpF  ...
7                    NaN      O  Mon, 1977-04-04                   NaN  ...
8                    NaN      K              NaN                   NaN  ...
9   YupmMCKEGDZOxnqeIjha    NaN              NaN                   NaN  ...
10                   NaN      E              NaN                   NaN  ...

   change_password_next_login consent_type_id                 create_dt  \
5                           1            9079  Sat, 2014-02-15 22:54:27
7                           0            1416  Tue, 2002-07-30 22:28:38
8                           0            5614  Thu, 2019-08-29 14:50:24
9                           0            7669  Tue, 1987-02-17 11:22:04
10                          0            6820  Thu, 2018-04-19 10:44:52

   create_app create_user               modified_dt modified_app  \
5        7328        6425  Fri, 1999-11-12 06:09:25         2118
7        8257         542  Sat, 1983-07-16 18:30:07         1429
8        4561        1718  Sun, 2009-12-20 14:50:14         3368
9        8761        1288  Sat, 2016-03-19 17:33:38         1405
10       4638        2086  Fri, 1993-06-25 22:34:12         7266

    modified_user  status                              note
5            2494       0  productize customized e-services
7            3195       1    evolve real-time relationships
8            1975       1                               NaN
9            5181       1                               NaN
10            380       1                               NaN

[5 rows x 29 columns]

* Second, there are around 25% of cases where the person's profile creation date is before the person's birth date

In [21]:
print(cons_df[cons_df.create_dt < cons_df.birth_dt].head(5))

    cons_id prefix firstname middlename  lastname suffix  \
1         2    NaN       NaN        NaN       NaN     II
5         6    NaN       NaN        NaN      Holt    NaN
12       13    Dr.       NaN      Shane       NaN    DVM
13       14    NaN       NaN     Dennis  Erickson    NaN
18       19    NaN   Michael      Randy       NaN    NaN

              salutation gender         birth_dt                 title  ...  \
1   boFqBKgLlSgEZsFrgCZd      E  Mon, 2004-11-15                   NaN  ...
5                    NaN      K  Tue, 2003-07-15  DBEfLmqhahjEXOXjLHpF  ...
12  OwMBJcSUxogZoZAreJmq    NaN  Tue, 1971-04-13  VPIEdzWqwuRLCSrlHgjW  ...
13  dPPHVfYvTdEMXFEoHBfa    NaN  Wed, 2003-08-27                   NaN  ...
18  UVolNtaMjBhXPhlqJpmt      X  Sun, 1999-04-25  zRNSweTnqtszElAkFyGh  ...

   change_password_next_login consent_type_id                 create_dt  \
1                           1            4236  Mon, 1979-03-05 21:08:54
5                           1            9079  Sat, 2014-02-15 22:54:27
12                          0            4913  Sat, 1979-07-21 05:31:38
13                          0            5662  Tue, 1986-03-18 17:54:05
18                          0             181  Mon, 2001-07-02 08:34:01

   create_app create_user               modified_dt modified_app  \
1        4176        5476  Tue, 1989-06-20 13:28:57         9010
5        7328        6425  Fri, 1999-11-12 06:09:25         2118
12       2246        2167  Fri, 1994-03-11 17:52:19         2436
13       6521        4024  Sat, 1971-01-23 08:40:49         2837
18       9235        5682  Mon, 1981-10-19 16:54:11         2818

    modified_user  status                              note
1            5698       1                               NaN
5            2494       0  productize customized e-services
12           4745       1                               NaN
13           2988       1                               NaN
18           5380       1                               NaN

[5 rows x 29 columns]

and many more inconstencies ...